<div class="container-fluid div5 p-0" style="background: #f0f0f0;">
        <div class="row">
                <div class="col-12 col-md-2"></div>

                <div class="col-12 col-md-8" 
                        style="border: 0; 
                        background: white;"
                >
                        <nav class="navbar">
                                <div class="container div6">
                                        <a class="navbar-brand" href="/">
                                                <img src="https://api.hiphopboombox.com/api/uploads/hiphop2.jpeg" alt="" height="40" />
                                        </a>

                                        <div classs="div9">
                                                <a href="/privacy" class="footer_a">
                                                        <%= lang.footer_h2 %>
                                                </a>
                                                <a href="/terms" class="footer_a">
                                                        <%= lang.footer_h3 %>
                                                </a>
                                                <a href="/dmca" class="footer_a">
                                                        <%= lang.footer_h4 %>
                                                </a>
                                                <a href="/eula" class="footer_a">
                                                        <%= lang.footer_h5 %>
                                                </a>
                                                <a href="/raffle" class="footer_a">
                                                        <%= lang.footer_h6 %>
                                                </a>
                                        </div>

                                        <div></div>
                                </div>
                        </nav>
                </div>

                <div class="col-12 col-md-2"></div>
        </div>
</div>