<%- include("./includes/head.ejs", { data2: '' }); %>

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/bp.css">

<body>
	<header>
		<%- include("./includes/header.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	    <img src="/cube.webp" alt="Your Logo" class="logoSp">
	    <div class="spinner"></div>
  	</div>

	<section>
		<div class="container-fluid div1 bg-light d-none">
			<div class="row">
        		<div class="col-12 col-md-2 leftAds" style="background: #f0f0f0;"></div>

				<div class="col-12 col-sm-12 col-md-8 nav1">
					<% catData.forEach((i, index) => { %>
						<a href="/blogNews/<%= i.id %>" class="nav1_btns"><%= i.name %></a>
					<% }) %>
				</div>
				
				<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>

		        <div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
		        <div class="col-12 col-md-8" style="height: 20px; background: lightgray;"></div>
		        <div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid blogg_divv1" style="margin-top: 80px;">
			<div class="row">
				<div class="col-12 col-md-2 leftAds" style="background: #f0f0f0;">
					<div class="desktopAds">
						<% if (data13[0] && data13.length > 0) { %>
							<% if (data13[0].code.trim() != '') { %>
				                <%- data13[0].code %>
				            <% } else { %>
								<a href="#" class="dskLink" data-ads-id="<%= data13[0].ads_id %>" target="_blank" style="text-decoration: none;">
									<div class="card border-0" style="width: auto;">
										<img src="https://api.hiphopboombox.com/api/uploads/<%= data13[0].image %>" class="card-img-top" alt="<%= data13[0].title %>">
									</div>
								</a>
							<% } %>
						<% } else { %>
			              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
			                   crossorigin="anonymous"></script>
			              <!-- side ad -->
			              <ins class="adsbygoogle"
			                   style="display:block"
			                   data-ad-client="ca-pub-8432136941148227"
			                   data-ad-slot="7722858213"
			                   data-ad-format="auto"
			                   data-full-width-responsive="true"></ins>
			              <script>
			                   (adsbygoogle = window.adsbygoogle || []).push({});
			              </script>
			            <% } %>
					</div>

					<div class="mobileAds">
						<% if (data14[0] && data14.length > 0) { %>
							<a href="#" class="mobLink" data-ads-id="<%= data14[0].ads_id %>" target="_blank" style="text-decoration: none;">
								<div class="card border-0" style="width: auto;">
									<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[0].image %>" class="card-img-top" alt="<%= data14[0].title %>">
								</div>
							</a>
						<% } else { %>
			              <script async 
			                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
			                  crossorigin="anonymous">
			              </script>
			              <!-- top ad -->
			              <ins class="adsbygoogle"
			                   style="display:inline-block;width:500px;height:90px"
			                   data-ad-client="ca-pub-8432136941148227"
			                   data-ad-slot="8720245119"></ins>
			              <script>
			                   (adsbygoogle = window.adsbygoogle || []).push({});
			              </script>
			            <% } %>
					</div>
				</div>

				<div class="col-12 col-md-8">
            		<div class="row">
            			<div class="col-12 col-sm-12 text-center deskDiv">
							<script async 
								src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
							    crossorigin="anonymous">
							</script>
							<!-- top ad -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:728px;height:90px"
							     data-ad-client="ca-pub-8432136941148227"
							     data-ad-slot="8720245119"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
						
						<div class="col-12 col-sm-12 text-center text-uppercase" 
							style="color: #00e5fa;"
						>
							<h3><%= heading %></h3>
						</div>

						<div class="col-12 col-sm-12 mt-2 p-0 border-0">
							<div class="row">
								<% if (trending != '') { %>
									<div class="col-12 col-sm-12 col-md-4 bp_div">
										<% if(lang.smws.lang == 'en') { %>
											<h4 class="text-center text-uppercase">Trending</h4>
										<% } else { %>
											<h4 class="text-center text-uppercase">Tendencias</h4>
										<% } %>

										<hr />

											<div class="bp_div1">
												<% trending.forEach(i => { %>
													<a href="/blogData/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
														<div class="card text-bg-dark mb-3">
														  <div class="row g-0">
														    <div class="col-md-4">
														    	<div class="skeleton2"></div>
														    	<div class="bp_img1">
														      		<img src="" data-src="<%= i.image %>" class="img-fluid rounded-start" alt="..." width="100%" height="100%">
														      	</div>
														    </div>
														    <div class="col-md-8">
														      <div class="card-body">
														        <h5 class="card-title">
														        	<%= i.title %>
														        </h5>
														      </div>
														    </div>
														  </div>
														</div>
													</a>
												<% }) %>
											</div>

											<div class="bp_div2">
												<% trending.forEach(i => { %>
													<a href="/blogData/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
														<div class="card text-bg-dark">
															<div class="skeleton2"></div>
															<div class="bp_img2">
														  		<img 
														  			src=""
														  			data-src="<%= i.image %>" class="card-img-top" 
														  			alt="..."
														  		>
														  	</div>
															<div class="card-body">
															    <h5 class="card-title"><%= i.title %></h5>
															</div>
														</div>
													</a>
												<% }) %>
											</div>
									</div>
								<% } else { %>
									<div class="col-12 col-sm-12 col-md-2"></div>
								<% } %>

								<div class="col-12 col-sm-12 col-md-8 bp_div3">
									<% if (nextPart != '') { %>
										<div class="bp_div4">
											<% nextPart.forEach(i => { %>
												<a href="/blogData/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
													<div class="card text-bg-dark mb-3">
													  <div class="row g-0">
													    <div class="col-md-4">
													    	<div class="skeleton2"></div>
													    	<div class="bp_img3">
													      		<img 
													      			src="" 
													      			data-src="<%= i.image %>" class="img-fluid rounded-start" alt="..." width="100%" height="100%"
													      		>
													      	</div>
													    </div>
													    <div class="col-md-8">
													      <div class="card-body">
													        <h5 class="card-title"><%= i.title %></h5>
													        <p class="card-text text-start mb-2"><small class="text-body-secondary bp_date"><%= i.date %></small></p>
													        <p class="card-text text1 text-start" style="color: lightgrey;">
													        	<%= i.des %>
													        </p>
													      </div>
													    </div>
													  </div>
													</div>
												</a>
											<% }) %>
										</div>

										<div class="bp_div5">
											<% nextPart.forEach(i => { %>
												<a href="/blogData/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
													<div class="card text-bg-dark mb-4">
														<div class="skeleton2"></div>
														<div class="bp_img4">
													  		<img 
													  			src="" 
													  			data-src="<%= i.image %>" class="card-img-top" alt="..."
													  		>
													  	</div>
													  	<div class="card-body">
													    	<h5 class="card-title">
													    		<%= i.title %>
													    	</h5>
													    	<p class="card-text text-start mb-2"><small class="text-body-secondary bp_date"><%= i.date %></small></p>
													    	<p class="card-text text1 text-start d-none" style="color: lightgrey;">
													    		<%= i.des %>
													    	</p>
													  	</div>
													</div>
												</a>
											<% }) %>
										</div>
									<% } %>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-12 p-0 mt-3 mb-3 border-0">
		          			<nav aria-label="Page navigation example">
							  <ul class="pagination justify-content-center" id="pagination">
							    <li class="page-item" id="prev-btn">
							      <a class="page-link" href="#">Previous</a>
							    </li>
							    <li class="page-item" id="next-btn">
							      <a class="page-link" href="#">Next</a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-2 rightAds" style="background: #f0f0f0;">
					<div class="desktopAds">
						<% if (data13[1] && data13.length > 0) { %>
							<% if (data13[1].code.trim() != '') { %>
				                <%- data13[1].code %>
				            <% } else { %>
				              	<a href="#" class="dskLink" data-ads-id="<%= data13[1].ads_id %>" target="_blank" style="text-decoration: none;">
					                <div class="card border-0" style="width: auto;">
					                  <img src="https://api.hiphopboombox.com/api/uploads/<%= data13[1].image %>" class="card-img-top" alt="<%= data13[1].title %>">
					                </div>
				              	</a>
				            <% } %>
			            <% } else { %>
			              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
			                   crossorigin="anonymous"></script>
			              <!-- side ad -->
			              <ins class="adsbygoogle"
			                   style="display:block"
			                   data-ad-client="ca-pub-8432136941148227"
			                   data-ad-slot="7722858213"
			                   data-ad-format="auto"
			                   data-full-width-responsive="true"></ins>
			              <script>
			                   (adsbygoogle = window.adsbygoogle || []).push({});
			              </script>
			            <% } %>
			        </div>

			        <div class="mobileAds">
						<% if (data14[1] && data14.length > 0) { %>
							<a href="#" class="mobLink" data-ads-id="<%= data14[1].ads_id %>" target="_blank" style="text-decoration: none;">
								<div class="card border-0" style="width: auto;">
									<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[1].image %>" class="card-img-top" alt="<%= data14[1].title %>">
								</div>
							</a>
						<% } else { %>
			              <script async 
			                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
			                  crossorigin="anonymous">
			              </script>
			              <!-- top ad -->
			              <ins class="adsbygoogle"
			                   style="display:inline-block;width:500px;height:90px"
			                   data-ad-client="ca-pub-8432136941148227"
			                   data-ad-slot="8720245119"></ins>
			              <script>
			                   (adsbygoogle = window.adsbygoogle || []).push({});
			              </script>
			            <% } %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
	    <%- include("./includes/lang_select.ejs"); %>
  	</section>

	<footer>
		<%- include("./includes/footer.ejs"); %>
	</footer>

	<script>
		let id = <%- id %>;
		let cp = <%- cp %>;
	    let tc = <%- totalCount %>;
	    let t = <%- t %>;
	    const data13 = <%- JSON.stringify(data13) %>;
      	const data14 = <%- JSON.stringify(data14) %>;
	</script>

	<script type="text/javascript">
		const loadingSpinner = document.getElementById('loadingSpinner');
	    // console.log(loadingSpinner);
	    
	    setTimeout(function() {
	      if (loadingSpinner) {
	        loadingSpinner.style.display = 'none';
	      }
	    }, 5000);

	    // console.log(id, cp, tc, t);

	    let currentPage = Number(cp) || 1;

	    globalThis.document.addEventListener('DOMContentLoaded', () => {
	    	function getMobileOS() {
		        const userAgent = navigator.userAgent || navigator.vendor || window.opera;

		        // Check for iOS
		        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
		            return "iOS";
		        }

		        // Check for Android
		        if (/android/i.test(userAgent)) {
		            return "Android";
		        }

		        return "Unknown";
		    }

	        const os = getMobileOS();
	        // console.log(os);

	        globalThis.document.querySelectorAll('.dskLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addDskLink(adsId, button);
	        });

	        globalThis.document.querySelectorAll('.mobLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addMobLink(adsId, button);
	        });

	        function addDskLink(id, btn) {
	        	// console.log(id, btn);
	        	
	        	const ml1 = data13.length > 0 && 
							data13.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml1);

				const ml2 = data14.length > 0 &&
							data14.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml2);

				if (ml1 == false && ml2.length > 0) {
					if (os == 'iOS') {
						btn.setAttribute("href", ml2[0].ios);
					}

					else {
						btn.setAttribute("href", ml2[0].android);
					}
				}
				else {
					if (os == 'iOS') {
						btn.setAttribute("href", ml1[0].ios);
					}

					else {
						btn.setAttribute("href", ml1[0].android);
					}
				}
	        }

	        function addMobLink(id, btn) {
	        	// console.log(id, btn);

				const ml1 = data13.length > 0 && 
							data13.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml1);

				const ml2 = data14.length > 0 &&
							data14.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml2);

				// console.log(ml1 == false && ml2.length > 0);

				if (ml1 == false && ml2.length > 0) {
					if (os == 'iOS') {
						btn.setAttribute("href", ml2[0].ios);
					}

					else {
						btn.setAttribute("href", ml2[0].android);
					}
				}
				else {
					if (os == 'iOS') {
						btn.setAttribute("href", ml1[0].link_ios);
					}

					else {
						btn.setAttribute("href", ml1[0].link_android);
					}
				}
	        }

	    	const images = document.querySelectorAll('.bp_div1 img');

	    	const images2 = document.querySelectorAll('.bp_div2 img');

	    	const images3 = document.querySelectorAll('.bp_div4 img');

	    	const images4 = document.querySelectorAll('.bp_div5 img');

	    	const blogPostDate = document.querySelectorAll('.bp_date');

	    	const ct1 = document.querySelectorAll('.bp_div1 .card-title');

	    	const ct2 = document.querySelectorAll('.bp_div4 .card-title');

	    	const ct3 = document.querySelectorAll('.bp_div4 .text1');

	    	const cm1 = document.querySelectorAll('.bp_div2 .card-title');

	    	const cm2 = document.querySelectorAll('.bp_div5 .card-title');

	    	const cm3 = document.querySelectorAll('.bp_div5 .text1');

	    	// console.log(ct1);

	    	// console.log(images, images2, images3);
        
        const pagination = document.getElementById('pagination');
        const pages = [];
        let currentPage = Number(cp);
        // console.log(currentPage);
        const pagesCount = Number(t) >= 3 ? 3 : 2;

        currentPage = Math.max(1, currentPage);

	      function updatePagination() {
	        // Clear existing page numbers
	        for (const page of pages) {
	            pagination.removeChild(page);
	        }
	        pages.length = 0;

	        // Create new page numbers
	        for (let i = 0; i < pagesCount; i++) {
	        		// console.log(currentPage);
	            const pageNumber = currentPage + i;
	            const pageItem = document.createElement('li');
	            pageItem.className = 'page-item';
	            if (pageNumber == Number(cp)) {
	            	pageItem.classList.add('active');
	            }
	            pageItem.id = `page-${pageNumber}`;
	            const pageLink = document.createElement('a');
	            pageLink.className = 'page-link';
              // if (id != 't' && id != 'd') {
	              pageLink.href = `/blogNews/${id}/?pgno=${pageNumber}&tc=${tc}&t=${t}`;
              // }
              // else {
              //   pageLink.href = `/v1/blogNews2/${id}/?pgno=${pageNumber}`;
              // }
	            pageLink.textContent = pageNumber;
	            pageItem.appendChild(pageLink);
	            pagination.insertBefore(pageItem, document.getElementById('next-btn'));
	            pages.push(pageItem);
	        }
	          // Disable Next button if currentPage + pagesCount - 1 >= totalCount
            document.getElementById('next-btn').classList.toggle('disabled', currentPage + pagesCount - 1 >= Number(t));

            // Enable Previous button if currentPage > 1
            document.getElementById('prev-btn').classList.toggle('disabled', currentPage <= 1);
        }

        function handleNext() {
            if (currentPage + pagesCount - 1 < Number(t)) { // Ensure not exceeding totalCount
                currentPage += pagesCount;
                updatePagination();
            }
        }

        function handlePrevious() {
            if (currentPage > 1) { // Ensure currentPage does not go below 1
                currentPage -= pagesCount;
                if (currentPage < 1) {
                    currentPage = 1;
                }
                updatePagination();
            }
        }

        document.getElementById('next-btn').addEventListener('click', function(event) {
          event.preventDefault();
          handleNext();
        });

        document.getElementById('prev-btn').addEventListener('click', function(event) {
          event.preventDefault();
              handlePrevious();
        });

	      // Initialize pagination
	      updatePagination();

	    	const baseImgUrl = "https://api.hiphopboombox.com/api/uploads/";

	    	images.forEach(img => {
                // console.log(img.parentElement, img.parentElement.previousElementSibling);

                img.onload = () => {
                    img.parentElement.previousElementSibling.style.display = 'none';
                    img.parentElement.style.display = 'block'; // Show image
                };

                img.onerror = () => {
			        // Hide the image
			        img.parentElement.style.display = 'none';
			        
			        // Show the skeleton loader
			        const skeleton = img.parentElement.previousElementSibling;
			        if (skeleton) {
			            skeleton.style.display = 'block';
			        }
			    };

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            images2.forEach(img => {
                // console.log(img.parentElement, img.parentElement.previousElementSibling);

                img.onload = () => {
                    img.parentElement.previousElementSibling.style.display = 'none';
                    img.parentElement.style.display = 'block'; // Show image
                };

                img.onerror = () => {
			        // Hide the image
			        img.parentElement.style.display = 'none';
			        
			        // Show the skeleton loader
			        const skeleton = img.parentElement.previousElementSibling;
			        if (skeleton) {
			            skeleton.style.display = 'block';
			        }
			    };

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            images3.forEach(img => {
                // console.log(img.parentElement, img.parentElement.previousElementSibling);

                img.onload = () => {
                    img.parentElement.previousElementSibling.style.display = 'none';
                    img.parentElement.style.display = 'block'; // Show image
                };

                img.onerror = () => {
			        // Hide the image
			        img.parentElement.style.display = 'none';
			        
			        // Show the skeleton loader
			        const skeleton = img.parentElement.previousElementSibling;
			        if (skeleton) {
			            skeleton.style.display = 'block';
			        }
			    };

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            images4.forEach(img => {
                // console.log(img.parentElement, img.parentElement.previousElementSibling);

                img.onload = () => {
                    img.parentElement.previousElementSibling.style.display = 'none';
                    img.parentElement.style.display = 'block'; // Show image
                };

                img.onerror = () => {
			        // Hide the image
			        img.parentElement.style.display = 'none';
			        
			        // Show the skeleton loader
			        const skeleton = img.parentElement.previousElementSibling;
			        if (skeleton) {
			            skeleton.style.display = 'block';
			        }
			    };

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            function formatDate(dateString) {
		      const date = new Date(dateString);
		      // Options for formatting the date
		      const options = { year: 'numeric', month: 'short', day: 'numeric' };
		      // Format the date
		      const formattedDate = date.toLocaleDateString('en-US', options);

		      return formattedDate;
		    }

            blogPostDate.forEach(i => {
            	i.textContent = formatDate(i.textContent.trim());
            })

            function truncateText(text, length, s) {
			    const words = text.split(' '); // Split the text into words
			    if (words.length >= length) {
			        return words.slice(0, s).join(' ') + '...'; // Join the first 50 words and add "..."
			    }
			    return text; // Return the original text if it's 50 words or less
			}

			ct1.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 6, 5);
			})

			ct2.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 20, 20);
			})

			ct3.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 13, 12);
			})

			cm1.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 6, 5);
			})

			cm2.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 15, 14);
			})

			cm3.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 8, 7);
			})
	    })
	</script>
</body>

<%- include("./includes/end.ejs"); %>
