<%- include("./includes/head.ejs", { data2: '' }); %>

<link rel="stylesheet" href="/style.css">

<body>
	<header>
		<%- include("./includes/header.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	  <img src="/cube.webp" alt="Your Logo" class="logoSp">
	  <div class="spinner"></div>
 	</div>
    
  	<% if(data12.length >= 1) { %>
	    <section id="footer_popup" class="footer_popup">
	      <div class="container position-fixed top-0 bg-black" style="z-index: 1050 !important;">
	          <div class="row text-white">
	              <div class="col-12 fp2 pt-1 pb-1 ps-1 pe-3">
	                  <% if(data12[0].title != null || data12[0].title != '') { %>
	                    <div class="text-center text-wrap"><%= data12[0].title %></div>
	                  <% } %>
	                  <div class="d-flex align-items-center justify-content-between">
	                    <h6 class="text-wrap text-uppercase" style="font-size: 12px;">
	                      <img src="https://i.ibb.co/YTG0NWH/removal-ai-05798ca5-1590-4c7f-ba40-4de1847cf462-hiphop3.png" width="40" height="30" />
	                      HipHopBoomBox
	                    </h6>
	                    <!-- <a href="" target="_blank" class="btn btn-outline-light">
	                      <i class="fa-brands fa-android fa-xl" style="color: #78C257;"></i>
	                      <i class="fa-brands fa-apple fa-xl" style="color: #555555;"></i>
	                    </a> -->
	                    <a 
	                       id="platformLink" 
	                       href="#" 
	                       target="_blank" 
	                       class="btn border-0 pt-2 pb-2 pe-3 ps-3 bg-light text-uppercase" 
	                       style="color: #ee3483; font-size: 12px; font-weight: 600; border-radius: 50px;"
	                    >
	                      GET
	                    </a>
	                  </div>
	                
	                  <div class="d-flex align-items-center justify-content-between mt-1 text-uppercase">
	                    <h6 style="font-size: 12px;">
	                      <img src="" id="platformIcon" width="40" height="30" />
	                      Website
	                    </h6>
	                    <button 
	                            type="button" 
	                            class="btn text-white border pt-2 pb-2 pe-3 ps-3" 
	                            id="cont_btn" 
	                            style="border-radius: 50px; font-size: 12px; font-weight: 600;"
	                    >
	                      WEBSITE
	                    </button>
	                  </div>
	              </div>
	          </div>
	      </div>
	    </section>
  	<% } %>

	<section>
		<%- include("./includes/nav1.ejs", { myArray: catData, name: heading }); %>
	</section>

	<% if(popup.length >= 1) { %>
		<div class="modal" tabindex="-1">
			<% popup.forEach(i => { %>
			  <div class="modal-dialog modal-dialog-centered">
			    <div class="modal-content">
			      <div class="modal-header border-0">
			        <!-- <h5 class="modal-title">Modal title</h5> -->
			        <h5></h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body p-0">
			      	<% if(i.question?.portrait_image != '') { %>
			        	<img src="https://api.hiphopboombox.com/api/uploads/<%= i.question.portrait_image %>" class="img-fluid modal_img" loading="lazy" />
			        <% } else { %>
			        	<img src="https://api.hiphopboombox.com/api/uploads/<%= i.question.landscape_img %>" class="img-fluid modal_big_img" loading="lazy" />
			        <% } %>
			        <div class="p-2">
			        	<form action="/poll" method="POST" id="modalForm">
					      	<h6><%= lang.smws.lang == 'en' ? i.question?.question : i.question?.ques_translate %></h6>
                  <div class="d-flex justify-content-around align-items-center flex-wrap">
	                  <% i.options.forEach((j, index) => { %>
	                    <div class="form-check">
	                      <input class="form-check-input" type="radio" name="option" id="flexRadioDefault<%= index %>" value="<%= j.option_text %>" data-f-id="<%= i.question.id %>" data-b-id="<%= j.id %>">
	                      <label class="form-check-label" for="flexRadioDefault<%= index %>">
	                        <%= j.option_text %>
	                      </label>
	                    </div>
	                	<% }) %>
                  </div>
                  <input type="hidden" name="id1" id="id1">
                  <input type="hidden" name="id2" id="id2">
                  <input type="hidden" name="title" value="<%= lang.smws.lang == 'en' ? i.question?.question.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') : i.question?.ques_translate.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
							</div>
			      </div>
			      <div class="modal-footer p-0 border-0">
			        <button type="submit" class="btn btn-outline-success me-2 modalBtn">Submit</button>
              </form>
			      </div>
			    </div>
			  </div>
			<% }) %>
		</div>
	<% } %>

	<section>
		<div class="container-fluid bg-light div2 p-0">
			<div class="row">
				<div class="col-12 col-md-2 leftAds" style="background: #f0f0f0;">
					<div class="desktopAds">
						<% if (data13[0] && data13.length > 0) { %>
							<% if (data13[0].code.trim() != '') { %>
				                <%- data13[0].code %>
				            <% } else { %>
								<a href="#" class="dskLink" data-ads-id="<%= data13[0].ads_id %>" target="_blank" style="text-decoration: none;">
									<div class="card border-0" style="width: auto;">
										<img src="https://api.hiphopboombox.com/api/uploads/<%= data13[0].image %>" class="card-img-top" alt="<%= data13[0].title %>">
									</div>
								</a>
							<% } %>
						<% } else { %>
							<script async 
								src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
								crossorigin="anonymous">
							</script>
							<!-- side ad -->
							<ins class="adsbygoogle"
								style="display:block;width:100%;height:auto"
								data-ad-client="ca-pub-8432136941148227"
								data-ad-slot="7722858213"
								data-ad-format="auto"
								data-full-width-responsive="true"></ins>
							<script>
							    (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						<% } %>
					</div>

					<div class="mobileAds">
						<% if (data14[0] && data14.length > 0) { %>
							<a href="#" class="mobLink" data-ads-id="<%= data14[0].ads_id %>" target="_blank" style="text-decoration: none;">
								<div class="card border-0" style="width: auto;">
									<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[0].image %>" class="card-img-top" alt="<%= data14[0].title %>">
								</div>
							</a>
						<% } else { %>
							<script async 
								src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
							    crossorigin="anonymous">
							</script>
							<!-- top ad -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:500px;height:90px"
							     data-ad-client="ca-pub-8432136941148227"
							     data-ad-slot="8720245119"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						<% } %>
					</div>
				</div>

				<div class="col-12 col-md-8">
					<div class="row">
						<div class="col-12 col-sm-12 text-center deskDiv">
							<script async 
								src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
							    crossorigin="anonymous">
							</script>
							<!-- top ad -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:600px;height:90px"
							     data-ad-client="ca-pub-8432136941148227"
							     data-ad-slot="8720245119"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>

						<div class="col-12 col-sm-12 div3 border-0">
							<h5></h5>
							<h5 class="heading1"><%= heading %></h5>
							<form id="myForm" method="GET">
								<select id="mySelect" name="ts" style="border: none;">
								  <option>Sort By</option>
								  <option value="n" <%= ts === 'n' ? 'selected' : '' %>><%= lang.home_h1 %></option>
								  <option value="w" <%= ts === 'w' ? 'selected' : '' %>><%= lang.home_h2 %></option>
								  <option value="m" <%= ts === 'm' ? 'selected' : '' %>><%= lang.home_h3 %></option>
								  <option value="y" <%= ts === 'y' ? 'selected' : '' %>><%= lang.home_h4 %></option>
								</select>
								<input type="hidden" name="id" value="<%= id %>">

		    					<input type="hidden" name="name" value="<%= heading %>">
							</form>
						</div>

						<div class="col-12 col-sm-12 mt-3">
							<div class="col-12 col-sm-12 mt-3 div8">
								<% if (showData.length >= 1 ) { %>
								    <div class="scroll-container-wrapper">
								        <button class="scroll-button left">
								        	<i class="fa-solid fa-chevron-left fa-2xl"></i>
								        </button>
								        <div class="scroll-container">
							        		<% showData.forEach(i => { %>
							        			<div class="image-wrapper me-3">
							        				<a href="/video/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
												    <div class="card text-bg-dark h-100 div12">
												    	<div class="skeleton"></div>
												      	<img src="" data-src="<%= i.portrait_image %>" class="card-img-top" alt="...">
												      	<div class="card-body">
												        	<h5 class="card-title"><%= lang.smws.lang == 'en' ? i.title : i.title_translate %></h5>
												      	</div>
												    </div>
												    </a>
												</div>
							        		<% }) %>
							        		<% data8.forEach(i => { %>
							        			<div class="image-wrapper me-3">
							        				<a href="/blogData/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
												    <div class="card text-bg-dark h-100 div12">
												    	<div class="skeleton"></div>
												      	<img src="" data-src="<%= i.image %>" class="card-img-top" alt="...">
												      	<div class="card-body">
												        	<h5 class="card-title"><%= lang.smws.lang == 'en' ? i.title : i.title_translate %></h5>
												      	</div>
												    </div>
												    </a>
												</div>
							        		<% }) %>
							        	</div>
								        <button class="scroll-button right" onclick="scrollRight();">
								        	<i class="fa-solid fa-chevron-right fa-2xl"></i>
								        </button>
								    </div>
							    <% } %>
						    </div>
						</div>

						<div class="col-12 col-sm-12 mt-5">
							<% if (lang.smws.lang == 'en') { %>
								<h5 class="text-center"><b><span style="color: #ee3483;">FEATURED</span> <span style="color: #00e5fa;">VIDEOS</span></b></h5>
							<% } else { %>
								<h5 class="text-center"><b><span style="color: #ee3483;">VIDEOS</span> <span style="color: #00e5fa;">DESTACADOS</span></b></h5>
							<% } %>
						</div>

						<% if(hData4 != '') { %>
							<div class="col-12 col-sm-12 div7">
								<div class="row">
									<% hData4.forEach((i, index) => { %>
										<% if (index < 2) { %>
											<div class="col-12 col-sm-12 col-md-6 video_box">
												<a href="/video/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
												<div class="skeletonFV"></div>
												<img 
													src="" 
													data-src="<%= i.image %>"
													width="100%"
													height="100%"
													class="video_div"
												>
												<div class="play-icon">
													<i class="fa-solid fa-play fa-2xl" style="color: white;"></i>
												</div>
												<div class="end-icon">
													<i class="fa-solid fa-volume-xmark" style="color: white;"></i>
												</div>
												</a>
											</div>
										<% } else { %>
											<div class="col-12 col-sm-12 col-md-6 video_box">
												<a href="/video/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
												<div class="skeletonFV"></div>
												<img 
													src="" 
													data-src="<%= i.image %>"
													width="100%"
													height="100%"
													class="video_div"
												>
												<div class="play-icon">
													<i class="fa-solid fa-play fa-2xl" style="color: white;"></i>
												</div>
												<div class="end-icon">
													<i class="fa-solid fa-volume-xmark" style="color: white;"></i>
												</div>
												</a>
											</div>
										<% } %>
									<% }) %>
								</div>
							</div>
						<% } %>

						<% if(hData1.length >= 1) { %>
							<div class="col-12 col-sm-12 mt-5 div4">
								<h5></h5>
								<% if(currentPage == 1) { %>
									<% if(lang.smws.lang == 'en') { %>
										<h5 class="text-center"><b><span style="color: #ee3483;">TODAY'S</span> <span style="color: #00e5fa;">VIDEOS</span></b></h5>
									<% } else { %>
										<h5 class="text-center"><b><span style="color: #ee3483;">VIDEOS</span> <span style="color: #00e5fa;">DE HOY</span></b></h5>
									<% } %>
								<% } else { %>
									<h5 class="text-center d3">
										<b><%= hData1[0].date %></b>
									</h5>
								<% } %>
								<a href="/new/<%= hData1[0].date %>/all" class="all_div">
									<% if(lang.smws.lang == 'en') { %>
										All
									<% } else { %>
										Todo
									<% } %>
								</a>
							</div>

							<div class="col-12 col-sm-12 mt-2 div10">
								<div class="row row-cols-1 row-cols-md-3 g-4">
									<% hData1.forEach(i => { %>
									  	<div class="col">
									  		<a href="/news/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
											    <div class="card text-bg-dark h-100 div11">
											    	<div class="skeleton1"></div>
											      	<img src="" data-src="<%= i.image %>" class="card-img-top" alt="...">
											      	<div class="card-body">
											        	<h5 class="card-title text-white mb-2"><%= lang.smws.lang == 'en' ? i.title : i.title_translate %></h5>
											        	<p class="card-text text-white d-none"><%= lang.smws.lang == 'en' ? i.des : i.des_translate %></p>
		                            <% 
		                                const smLinks = i.social_media.match(/http[^ ]+/g);
		                                let hasLinks = false; // Flag to check if any social media links are found
		                                let linkIcons = ''; // Variable to accumulate the generated link icons

		                                const socialMedia = [
		                                    {
		                                        name: 'instagram',
		                                        icon: '<i class="fa-brands fa-instagram fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?instagram\.com\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'facebook',
		                                        icon: '<i class="fa-brands fa-facebook fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?facebook\.com\/[^\s\/]+\/?/g,
		                                    },
		                                    {
		                                        name: 'twitter',
		                                        icon: '<i class="fa-brands fa-twitter fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?(twitter\.com|x\.com)\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'tiktok',
		                                        icon: '<i class="fa-brands fa-tiktok fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?tiktok\.com\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'threads',
		                                        icon: '<i class="fa-brands fa-threads fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?threads\.net\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'youtube',
		                                        icon: '<i class="fa-brands fa-youtube fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?youtube\.com\/[^\s]+|https?:\/\/(www\.)?youtu\.be\/[^\s]+/g,
		                                    }
		                                ];

		                                // Iterate through each link
		                                smLinks && smLinks.forEach(link => {
		                                    socialMedia.forEach(media => {
		                                        if (media.regex.test(link)) { // Check if the link matches the regex
		                                            hasLinks = true; // Set flag if a link is found
		                                            linkIcons += `<a href="${link}" target="_blank" class="card-link">${media.icon}</a>`; // Accumulate link with icon
		                                        }
		                                    });
		                                });
		                            %>

		                            <% if (hasLinks) { %>
		                                <div class="border-0 text-center">
		                                  <%- linkIcons %>
		                                </div>
		                            <% } %>
											      	</div>
											      	<div class="card-footer text-center">
											        	<small class="text-body-secondary">
											        		<i class="fa-solid fa-eye fa-lg" style="color: grey;"></i>
													        <%= i.views %>
													    </small>
											      	</div>
											    </div>
											</a>
									  	</div>
									<% }) %>
								</div>
							</div>
						<% } %>

						<% if(hData2.length >= 1) { %>
							<div class="col-12 col-sm-12 mt-5 div4">
								<h5></h5>
								<h5 class="text-center d2">
									<b><%= hData2[0].date %></b>
								</h5>
								<a href="/new/<%= hData2[0].date %>/all" class="all_div">
									<% if(lang.smws.lang == 'en') { %>
										All
									<% } else { %>
										Todo
									<% } %>
								</a>
							</div>

							<div class="col-12 col-sm-12 mt-2 div10">
								<div class="row row-cols-1 row-cols-md-3 g-4">
									<% hData2.forEach(i => { %>
									  	<div class="col">
									  		<a href="/news/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
											    <div class="card text-bg-dark p-0 h-100 div11">
											    	<div class="skeleton1"></div>
											      	<img src="" data-src="<%= i.image %>" class="card-img-top" alt="...">
											      	<div class="card-body">
											        	<h5 class="card-title text-white mb-2"><%= lang.smws.lang == 'en' ? i.title : i.title_translate %></h5>
											        	<p class="card-text text-white d-none"><%= lang.smws.lang == 'en' ? i.des : i.des_translate %></p>
		                              
		                            <% 
		                                const smLinks = i.social_media.match(/http[^ ]+/g);
		                                let hasLinks = false; // Flag to check if any social media links are found
		                                let linkIcons = ''; // Variable to accumulate the generated link icons

		                                const socialMedia = [
		                                    {
		                                        name: 'instagram',
		                                        icon: '<i class="fa-brands fa-instagram fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?instagram\.com\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'facebook',
		                                        icon: '<i class="fa-brands fa-facebook fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?facebook\.com\/[^\s\/]+\/?/g,
		                                    },
		                                    {
		                                        name: 'twitter',
		                                        icon: '<i class="fa-brands fa-twitter fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?(twitter\.com|x\.com)\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'tiktok',
		                                        icon: '<i class="fa-brands fa-tiktok fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?tiktok\.com\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'threads',
		                                        icon: '<i class="fa-brands fa-threads fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?threads\.net\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'youtube',
		                                        icon: '<i class="fa-brands fa-youtube fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?youtube\.com\/[^\s]+|https?:\/\/(www\.)?youtu\.be\/[^\s]+/g,
		                                    }
		                                ];

		                                // Iterate through each link
		                                smLinks && smLinks.forEach(link => {
		                                    socialMedia.forEach(media => {
		                                        if (media.regex.test(link)) { // Check if the link matches the regex
		                                            hasLinks = true; // Set flag if a link is found
		                                            linkIcons += `<a href="${link}" target="_blank" class="card-link">${media.icon}</a>`; // Accumulate link with icon
		                                        }
		                                    });
		                                });
		                            %>

		                            <% if (hasLinks) { %>
		                                <div class="border-0 text-center">
		                                  <%- linkIcons %>
		                                </div>
		                            <% } %>
											      	</div>
											      	<div class="card-footer text-center">
											        	<small class="text-body-secondary">
											        		<i class="fa-solid fa-eye fa-lg" style="color: grey;"></i>
													    	<%= i.views %>
											        	</small>
											      	</div>
											    </div>
										    </a>
									  	</div>
									<% }) %>
								</div>
							</div>
						<% } %>

						<% if(hData3.length >= 1) { %>
							<div class="col-12 col-sm-12 mt-5 div4">
								<h5></h5>
								<h5 class="text-center d4">
									<b><%= hData3[0].date %></b>
								</h5>
								<a href="/new/<%= hData3[0].date %>/all" class="all_div">
									<% if(lang.smws.lang == 'en') { %>
										All
									<% } else { %>
										Todo
									<% } %>
								</a>
							</div>

							<div class="col-12 col-sm-12 mt-2 div10">
								<div class="row row-cols-1 row-cols-md-3 g-4">
									<% hData3.forEach(i => { %>
									  	<div class="col">
									  		<a href="/news/<%= i.id %>/<%= i.title.replace(/[^a-zA-Z0-9\s]/g, '').split(' ').slice(0, 3).join('_') %>">
											    <div class="card text-bg-dark h-100 div11">
											    	<div class="skeleton1"></div>
											      	<img src="" data-src="<%= i.image %>" class="card-img-top" alt="...">
											      	<div class="card-body">
											        	<h5 class="card-title text-white mb-2"><%= lang.smws.lang == 'en' ? i.title : i.title_translate %></h5>
											        	<p class="card-text text-white d-none"><%= lang.smws.lang == 'en' ? i.des : i.des_translate %></p>
		                              
		                            <% 
		                                const smLinks = i.social_media.match(/http[^ ]+/g);
		                                let hasLinks = false; // Flag to check if any social media links are found
		                                let linkIcons = ''; // Variable to accumulate the generated link icons

		                                const socialMedia = [
		                                    {
		                                        name: 'instagram',
		                                        icon: '<i class="fa-brands fa-instagram fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?instagram\.com\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'facebook',
		                                        icon: '<i class="fa-brands fa-facebook fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?facebook\.com\/[^\s\/]+\/?/g,
		                                    },
		                                    {
		                                        name: 'twitter',
		                                        icon: '<i class="fa-brands fa-twitter fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?(twitter\.com|x\.com)\/[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'tiktok',
		                                        icon: '<i class="fa-brands fa-tiktok fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?tiktok\.com\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'threads',
		                                        icon: '<i class="fa-brands fa-threads fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?threads\.net\/@[^\s]+/g,
		                                    },
		                                    {
		                                        name: 'youtube',
		                                        icon: '<i class="fa-brands fa-youtube fa-xl" style="color: white;"></i>',
		                                        regex: /https?:\/\/(www\.)?youtube\.com\/[^\s]+|https?:\/\/(www\.)?youtu\.be\/[^\s]+/g,
		                                    }
		                                ];

		                                // Iterate through each link
		                                smLinks && smLinks.forEach(link => {
		                                    socialMedia.forEach(media => {
		                                        if (media.regex.test(link)) { // Check if the link matches the regex
		                                            hasLinks = true; // Set flag if a link is found
		                                            linkIcons += `<a href="${link}" target="_blank" class="card-link">${media.icon}</a>`; // Accumulate link with icon
		                                        }
		                                    });
		                                });
		                            %>

		                            <% if (hasLinks) { %>
		                                <div class="border-0 text-center">
		                                  <%- linkIcons %>
		                                </div>
		                            <% } %>
											      	</div>
											      	<div class="card-footer text-center">
											        	<small class="text-body-secondary">
											        		<i class="fa-solid fa-eye fa-lg" style="color: grey;"></i>
													    	<%= i.views %>
													    </small>
											      	</div>
											    </div>
										    </a>
									  	</div>
									<% }) %>
								</div>
							</div>
						<% } %>

						<div class="col-12 col-sm-12 mt-5">
							<nav aria-label="Page navigation example">
							  <ul class="pagination justify-content-center" id="pagination">
							    <li class="page-item" id="prev-btn">
							      <a class="page-link" href="#">Previous</a>
							    </li>
							    <li class="page-item" id="next-btn">
							      <a class="page-link" href="#">Next</a>
							    </li>
							  </ul>
							</nav>
						</div>

						<div class="col-12 col-sm-12 col-md-8" style="height: 50px;"></div>
					</div>
				</div>

				<div class="col-12 col-md-2 rightAds" style="background: #f0f0f0;">
					<div class="desktopAds">
						<% if (data13[1] && data13.length > 0) { %>
							<% if (data13[1].code.trim() != '') { %>
				                <%- data13[1].code %>
				            <% } else { %>
				              	<a href="#" class="dskLink" data-ads-id="<%= data13[1].ads_id %>" target="_blank" style="text-decoration: none;">
					                <div class="card border-0" style="width: auto;">
					                  <img src="https://api.hiphopboombox.com/api/uploads/<%= data13[1].image %>" class="card-img-top" alt="<%= data13[1].title %>">
					                </div>
				              	</a>
				            <% } %>
			            <% } else { %>
								<script async 
									src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
								    crossorigin="anonymous">
								</script>
								<!-- side ad -->
								<ins class="adsbygoogle"
								     style="display:block;width:100%;height:auto"
								     data-ad-client="ca-pub-8432136941148227"
								     data-ad-slot="7722858213"
								     data-ad-format="auto"
								     data-full-width-responsive="true"></ins>
								<script>
								     (adsbygoogle = window.adsbygoogle || []).push({});
								</script>
						<% } %>
			        </div>

			        <div class="mobileAds">
						<% if (data14[1] && data14.length > 0) { %>
							<a href="#" class="mobLink" data-ads-id="<%= data14[1].ads_id %>" target="_blank" style="text-decoration: none;">
								<div class="card border-0" style="width: auto;">
									<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[1].image %>" class="card-img-top" alt="<%= data14[1].title %>">
								</div>
							</a>
						<% } else { %>
							<script async 
								src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
							    crossorigin="anonymous">
							</script>
							<!-- top ad -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:500px;height:90px"
							     data-ad-client="ca-pub-8432136941148227"
							     data-ad-slot="8720245119"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
	    <%- include("./includes/lang_select.ejs"); %>
    </section>

	<footer>
		<%- include("./includes/footer.ejs"); %>
	</footer>

	<script>
		const data3 = <%- JSON.stringify(showData) %>;
    	const data5 = <%- JSON.stringify(hData1) %>;
    	const data1 = <%- JSON.stringify(hData2) %>;
    	const data2 = <%- JSON.stringify(hData3) %>;
      	const popup1 = <%- JSON.stringify(popup) %>;
      	const data12 = <%- JSON.stringify(data12) %>;
      	const data13 = <%- JSON.stringify(data13) %>;
      	const data14 = <%- JSON.stringify(data14) %>;
    	const date4 = '<%- date4 %>';
    	let cp = <%- currentPage %>;
      	const ec = '<%- ec %>';
  	</script>

	<script type="text/javascript">
		// console.log(data2, data1, data5);
        
	    const loadingSpinner = document.getElementById('loadingSpinner');
	    const modal = popup1.length >= 1 ? globalThis.document.querySelector('.modal') : '';
	    const modalForm =  globalThis.document.getElementById('modalForm');
	    const radioButtons = popup1.length >= 1 ? modalForm.querySelectorAll('input[type="radio"]') : '';
	    const modalBtn = globalThis.document.querySelector('.modalBtn');
    
      	const cont_btn = globalThis.document.getElementById("cont_btn");
      	const footer_popup = data12 != '' ? globalThis.document.getElementById("footer_popup") : '';

      	// console.log(data13, data14);

	    // console.log(loadingSpinner);

	    const popShown = sessionStorage.getItem('popShown');
      	// sessionStorage.setItem('popShown', 'false');
    
      	const today = new Date().toISOString().slice(0, 10); // Get today's date in YYYY-MM-DD format
      	const modalShown = localStorage.getItem('pollShownDate');
      	// console.log(today, modalShown, modalShown !== today);
      	// console.log(popup1, popup1 != '');
	    
		setTimeout(function() {
	      if (loadingSpinner) {
	        loadingSpinner.style.display = 'none';
	        if (modalShown !== today && popup1 != '') {
						modal.style.display = 'block';
            localStorage.setItem('pollShownDate', today);
						// sessionStorage.setItem('modalShown', 'true');
					}
					else {
            if (modal != '') {
						  modal.style.display = 'none';
            }
					}
	      }
	    }, 2000);

	   	//console.log(cp);
    
    	// console.log(popup1.length >= 1, radioButtons, radioButtons != '');

	   	radioButtons != '' && radioButtons.forEach(radio => {
        	radio.addEventListener('change', (e) => {
        		const item = e.target;
        		const id1Field = document.getElementById('id1');
    				const id2Field = document.getElementById('id2');

        		if (item.checked == true) {
        			// console.log(item.value, item.getAttribute('data-f-id'), item.getAttribute('data-b-id'), id1Field.value, id2Field.value);
        			id1Field.value = item.getAttribute('data-f-id');
              id2Field.value = item.getAttribute('data-b-id');
        		}
        	});
    	});

    	radioButtons != '' && modalBtn.addEventListener("click", (e) => {
    		e.preventDefault();

    		const id1Field = document.getElementById('id1').value.trim();
    		const id2Field = document.getElementById('id2').value.trim();

    		// console.log(id1Field, id2Field);

    		if (!id1Field && !id2Field) {
    			return;
    		}

    		else {
    			// console.log(ec, id1Field, id2Field);
    			if (ec == '') {
            modalForm.submit();
          }
          else {
         		// sessionStorage.setItem('modalShown', 'true');
         		document.cookie = "showModal=true; path=/; max-age=" + (60 * 60 * 24 * 30);
         		modalForm.submit();
          }
    		}
    	})

		function convertToISO(dateString) {
		    // Replace space between date and time with 'T'
		    const isoString = dateString.replace(' ', 'T') + 'Z'; // Adding 'Z' for UTC time
		    return isoString;
		}

		function abcd(d) {
			const isoDateString = convertToISO(d);
    		const date = new Date(isoDateString);

			// Format the date to "August 10, 2024"
			const options = { year: 'numeric', month: 'long', day: 'numeric' };
			const formattedDate = date.toLocaleDateString('en-US', options);
			return formattedDate;
		}
    
	    if (footer_popup) {
	      	if (popShown) {
	        	footer_popup.style.display = 'none';
	      	}
	      	else {
	        	footer_popup.style.display = 'block';
	      	}
	    
	      	cont_btn.addEventListener('click', (e) => {
	        	footer_popup.style.display = 'none';
	        	sessionStorage.setItem('popShown', 'true');
	      	})
	    } 

		// console.log(data2, data2 != '');
    
    	// console.log(data12);

		if (data5 != '' && cp !== 1) {
			const fd2 = globalThis.document.querySelector('.d3');
			const x = abcd(data5[0]?.date).split(' ');
			const x1 = abcd(data5[0]?.date).split(' ')[1].split(',')[0];
			// console.log(x1);
			fd2.innerHTML = `<span class="text-uppercase" style="color: #00e5fa;">${x[0]} ${x1} ${x[2]}</span>`;
		}

		if (data1 != '') {
			const fd1 = globalThis.document.querySelector('.d2');
			// fd1.textContent = abcd(data1[0]?.date);
			const x = abcd(data1[0]?.date).split(' ');
			const x1 = abcd(data1[0]?.date).split(' ')[1].split(',')[0];
			// console.log(x1);
			fd1.innerHTML = `<span class="text-uppercase" style="color: #00e5fa;">${x[0]} ${x1} ${x[2]}</span>`;
		}

		if (data2 != '') {
			const fd2 = globalThis.document.querySelector('.d4');
			const x = abcd(data2[0]?.date).split(' ');
			const x1 = abcd(data2[0]?.date).split(' ')[1].split(',')[0];
			// console.log(x1);
			fd2.innerHTML = `<span class="text-uppercase" style="color: #00e5fa;">${x[0]} ${x1} ${x[2]}</span>`;
		}

		if (data3 != '') {
			const leftBtn = globalThis.document.querySelector('.left');

			leftBtn.addEventListener('click', (e) => {
			 	const container = document.querySelector('.scroll-container');
			    container.scrollBy({
			         left: -200, // Scroll amount (adjust as needed)
			         behavior: 'smooth' // Smooth scrolling effect
			    });
			})

			function scrollRight() {
			    const container = document.querySelector('.scroll-container');
			    container.scrollBy({
			        left: 200, // Scroll amount (adjust as needed)
			        behavior: 'smooth' // Smooth scrolling effect
			    });
			}
		}

	  	globalThis.document.addEventListener('DOMContentLoaded', () => {
			// console.log(id, name);

			function getMobileOS() {
		        const userAgent = navigator.userAgent || navigator.vendor || window.opera;

		        // Check for iOS
		        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
		            return "iOS";
		        }

		        // Check for Android
		        if (/android/i.test(userAgent)) {
		            return "Android";
		        }

		        return "Unknown";
		    }

	        const os = getMobileOS();
	        // console.log(os);

	        globalThis.document.querySelectorAll('.dskLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addDskLink(adsId, button);
	        });

	        globalThis.document.querySelectorAll('.mobLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addMobLink(adsId, button);
	        });

	        function addDskLink(id, btn) {
	        	// console.log(id, btn);
	        	
	        	const ml1 = data13.length > 0 && 
							data13.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml1);

				const ml2 = data14.length > 0 &&
							data14.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml2);

				if (ml1 == false && ml2.length > 0) {
					if (os == 'iOS') {
						btn.setAttribute("href", ml2[0].ios);
					}

					else {
						btn.setAttribute("href", ml2[0].android);
					}
				}
				else {
					if (os == 'iOS') {
						btn.setAttribute("href", ml1[0].ios);
					}

					else {
						btn.setAttribute("href", ml1[0].android);
					}
				}
	        }

	        function addMobLink(id, btn) {
	        	// console.log(id, btn);

				const ml1 = data13.length > 0 && 
							data13.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml1);

				const ml2 = data14.length > 0 &&
							data14.filter(i => Number(i.ads_id) === Number(id))
                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
				// console.log(ml2);

				// console.log(ml1 == false && ml2.length > 0);

				if (ml1 == false && ml2.length > 0) {
					if (os == 'iOS') {
						btn.setAttribute("href", ml2[0].ios);
					}

					else {
						btn.setAttribute("href", ml2[0].android);
					}
				}
				else {
					if (os == 'iOS') {
						btn.setAttribute("href", ml1[0].link_ios);
					}

					else {
						btn.setAttribute("href", ml1[0].link_android);
					}
				}
	        }
      
      		if (footer_popup) {
		        function getBrowserInfo() {
		          const userAgent = navigator.userAgent;
		          let browserName;

		          if (userAgent.includes("Chrome")) {
		              browserName = "Google Chrome";
		          } else if (userAgent.includes("Firefox")) {
		              browserName = "Mozilla Firefox";
		          } else if (userAgent.includes("Safari")) {
		              browserName = "Apple Safari";
		          } else if (userAgent.includes("MSIE") || userAgent.includes("Trident")) {
		              browserName = "Internet Explorer";
		          } else if (userAgent.includes("Edge")) {
		              browserName = "Microsoft Edge";
		          } else {
		              browserName = "Unknown Browser";
		          }

		          return browserName;
		      	}

		        // Call the function to check the browser
		        let brw = getBrowserInfo();
		        // console.log(brw); 

		        const platformIcon = document.getElementById("platformIcon");
		      
		        if (brw == 'Google Chrome') {
		          platformIcon.setAttribute("src", "https://i.ibb.co/LnxmfV7/chrome1.png");
		        }
		        else if (brw == 'Mozilla Firefox') {
		          platformIcon.setAttribute("src", "https://i.ibb.co/5ThGz4Q/firefox2.png");
		        }
		        else if (brw == 'Apple Safari') {
		          platformIcon.setAttribute("src", "https://i.ibb.co/BwSf5ZK/safari3.png");
		        }
		        else if (brw == 'Internet Explorer') {
		          platformIcon.setAttribute("src", "https://i.ibb.co/yBTdnFn/ie2.png");
		        }
		        else if (brw == 'Microsoft Edge') {
		          platformIcon.setAttribute("src", "https://i.ibb.co/DwSs9yx/removal-ai-838c4b30-aadb-45b7-b124-fc91054bbf79-me2.png");
		        }
		        else {
		          platformIcon.setAttribute("src", "https://i.ibb.co/LnxmfV7/chrome1.png");
		        }

		        const platformLink = document.getElementById("platformLink");

		        platformLink.addEventListener('click', (e) => {
		          footer_popup.style.display = 'none';
		          sessionStorage.setItem('popShown', 'true');
		        })


		        if (os === "Android") {
		            // platformIcon.classList.add("fa-android");
		            // platformIcon.setAttribute("src", "https://i.ibb.co/pJ37VFy/android.png");
		            platformLink.setAttribute("href", data12[0].link1);
		        } else if (os === "iOS") {
		            // platformIcon.setAttribute("src", "https://i.ibb.co/qRC2GsZ/ios4.png");
		            platformLink.setAttribute("href", data12[0].link2);
		        } else {
		            // Handle unknown platform if needed
		            // platformIcon.setAttribute("src", "https://i.ibb.co/pJ37VFy/android.png");
		            platformLink.setAttribute("href", data12[0].link1);
		        }
    		}

			const btnClose = globalThis.document.querySelector('.btn-close');

			radioButtons != '' && btnClose.addEventListener("click", () => {
				modal.style.display = 'none';
			})

		    const selectElement = globalThis.document.getElementById('mySelect');
		    const form = globalThis.document.getElementById('myForm');
			selectElement.addEventListener('change', function() {
				const sl = this.value;
				// console.log(sl);
				form.action = `/filter?ts=${sl}&pgno=${cp}`;
        		form.submit();
			});

			const pagination = document.getElementById('pagination');
		    const pages = [];
		    let currentPage = Number(cp);
		    // console.log(currentPage);
		    const pagesCount = 3;

		    currentPage = Math.max(1, currentPage);

		    function updatePagination() {
		        // Clear existing page numbers
		        for (const page of pages) {
		            pagination.removeChild(page);
		        }
		        pages.length = 0;

		        // Create new page numbers
		        for (let i = 0; i < pagesCount; i++) {
		        		// console.log(currentPage);
		            const pageNumber = currentPage + i;
		            const pageItem = document.createElement('li');
		            pageItem.className = 'page-item';
		            if (pageNumber == Number(cp)) {
		            	pageItem.classList.add('active');
		            }
		            pageItem.id = `page-${pageNumber}`;
		            const pageLink = document.createElement('a');
		            pageLink.className = 'page-link';
		            pageLink.href = `/?pgno=${pageNumber}`;
		            pageLink.textContent = pageNumber;
		            pageItem.appendChild(pageLink);
		            pagination.insertBefore(pageItem, document.getElementById('next-btn'));
		            pages.push(pageItem);
		        }
		    }

	    	function handleNext() {
	        	currentPage += pagesCount;
	        	updatePagination();
	    	}

	    	function handlePrevious() {
	        	currentPage -= pagesCount;
	        	if (currentPage < 1) {
				    currentPage = 1;
				}
	        	updatePagination();
	    	}

	    	document.getElementById('next-btn').addEventListener('click', function(event) {
	        	event.preventDefault();
	        	handleNext();
	    	});

	    	document.getElementById('prev-btn').addEventListener('click', function(event) {
	        	event.preventDefault();
	        	if (currentPage > 1) {
	        	    handlePrevious();
	        	}
	    	});

		    // Initialize pagination
		    updatePagination();

			const ct1 = document.querySelectorAll('.card-text');

			const ct2 = document.querySelectorAll('.card-title');

			const heading = document.querySelector('.heading1');

			const baseImgUrl = "https://api.hiphopboombox.com/api/uploads/";

			heading.innerHTML = `<span style="color: #ee3483;">${heading.textContent.split(' ')[0]}</span> <span style="color: #00e5fa;">${heading.textContent.split(' ')[1]}</span>`;

      		function truncateText(text, m) {
		        if (text.length > m) {
		            return text.slice(0, m).trim() + '...'; // Truncate text and add "..."
		        }
		        return text;
					}

			ct1.forEach(i => {
        i.textContent = truncateText(i.textContent.trim(), 30);
				// console.log(i.textContent.trim());    
      })

			ct2.forEach(i => {
				// console.log(i.textContent.trim());
			 	i.textContent = truncateText(i.textContent.trim(), 50);
			})

			const images1 = document.querySelectorAll('.video_box img');

			const images2 = document.querySelectorAll('.div11 img');

			const images = document.querySelectorAll('.image-wrapper img');

						images.forEach(img => {
                img.onload = () => {
                    img.previousElementSibling.style.display = 'none'; // Hide skeleton
                    img.style.display = 'block'; // Show image
                };

		        		img.onerror = () => {
					        // Hide the image
					        img.style.display = 'none';
					        
					        // Show the skeleton loader
					        const skeleton = img.previousElementSibling;
					        if (skeleton) {
					            skeleton.style.display = 'block';
					        }
					    	};

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

						images1.forEach(img => {
                img.onload = () => {
                    img.previousElementSibling.style.display = 'none'; // Hide skeleton
                    img.style.display = 'block'; // Show image
                };

		        		img.onerror = () => {
					        // Hide the image
					        img.style.display = 'none';
					        
					        // Show the skeleton loader
					        const skeleton = img.previousElementSibling;
					        if (skeleton) {
					            skeleton.style.display = 'block';
					        }
					    	};

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            images2.forEach(img => {
                img.onload = () => {
                    img.previousElementSibling.style.display = 'none'; // Hide skeleton
                    img.style.display = 'block'; // Show image
                };

		        		img.onerror = () => {
					        // Hide the image
					        img.style.display = 'none';
					        
					        // Show the skeleton loader
					        const skeleton = img.previousElementSibling;
					        if (skeleton) {
					            skeleton.style.display = 'block';
					        }
					    	};

                const imgElement = img.getAttribute('data-src');
                // console.log(imgElement); 
                
                // console.log(!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop'));

                if (!imgElement.includes('www.w3schools') && !imgElement.includes('static.worldstarhiphop')) {
                	img.setAttribute('src', baseImgUrl + imgElement);
                }

                else {
                	img.setAttribute('src', imgElement); // Set src to trigger loading
                }
            });

            const sform = document.getElementById('searchForm');
            const searchInput = document.getElementById('searchInput');
            
            searchInput.addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent default form submission if needed
                    sform.submit(); // Manually submit the form
                }
            });
		})
	</script>
</body>

<%- include("./includes/end.ejs"); %>