<%- include("./includes/head.ejs", { data2: showData }); %>
  
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/poll.css">

<body class="bg-light" style="padding: 0; margin: 0;">  
	<header>
		<%- include("./includes/header.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	  <img src="/cube.webp" alt="Your Logo" class="logoSp">
	  <div class="spinner"></div>
  </div>

  <section>
		<div class="container-fluid bg-light div1 border-0">
			<div class="row">
        <div class="col-12 col-md-2 leftAds" style="background: #f0f0f0;"></div>

				<div class="col-12 col-sm-12 col-md-8 nav1 border-0">
					<% catData.forEach((i, index) => { %>
						<a href="/filter/<%= i.id %>?name=<%= i.name %>" class="nav1_btns" style="border: 1px solid black; border-radius: 50px;"><%= i.name %></a>
          <% }) %>
				</div>
				
				<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>

				<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
				<div class="col-12 col-md-8" style="height: 20px; background: lightgray;"></div>
				<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid bg-light div14">
		    <div class="row">
		    	<div class="col-12 col-md-2 leftAds" style="background: #f0f0f0;">
						<div class="desktopAds">
							<% if (data13[0] && data13.length > 0) { %>
								<% if (data13[0].code.trim() != '') { %>
                	<%- data13[0].code %>
              	<% } else { %>
									<a href="#" class="dskLink" data-ads-id="<%= data13[0].ads_id %>" target="_blank" style="text-decoration: none;">
										<div class="card border-0" style="width: auto;">
											<img src="https://api.hiphopboombox.com/api/uploads/<%= data13[0].image %>" class="card-img-top" alt="<%= data13[0].title %>">
										</div>
									</a>
								<% } %>
							<% } else { %>
	              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
	                   crossorigin="anonymous"></script>
	              <!-- side ad -->
	              <ins class="adsbygoogle"
	                   style="display:block;width:100%;height:auto"
	                   data-ad-client="ca-pub-8432136941148227"
	                   data-ad-slot="7722858213"
	                   data-ad-format="auto"
	                   data-full-width-responsive="true"></ins>
	              <script>
	                   (adsbygoogle = window.adsbygoogle || []).push({});
	              </script>
	            <% } %>
						</div>

						<div class="mobileAds">
							<% if (data14[0] && data14.length > 0) { %>
								<a href="#" class="mobLink" data-ads-id="<%= data14[0].ads_id %>" target="_blank" style="text-decoration: none;">
									<div class="card border-0" style="width: auto;">
										<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[0].image %>" class="card-img-top" alt="<%= data14[0].title %>">
									</div>
								</a>
							<% } else { %>
	              <script async 
	                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
	                  crossorigin="anonymous">
	              </script>
	              <!-- top ad -->
	              <ins class="adsbygoogle"
	                   style="display:inline-block;width:500px;height:90px"
	                   data-ad-client="ca-pub-8432136941148227"
	                   data-ad-slot="8720245119"></ins>
	              <script>
	                   (adsbygoogle = window.adsbygoogle || []).push({});
	              </script>
	            <% } %>
						</div>
					</div>

					<div class="col-12 col-md-8">
            <div class="row">
	            <div class="col-12 col-sm-12 text-center deskDiv">
								<script async 
									src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
								    crossorigin="anonymous">
								</script>
								<!-- top ad -->
								<ins class="adsbygoogle"
								     style="display:inline-block;width:728px;height:90px"
								     data-ad-client="ca-pub-8432136941148227"
								     data-ad-slot="8720245119"></ins>
								<script>
								     (adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>

				    	<div class="col-12 col-sm-12 text-center mb-3">
				    		<h4>Poll</h4>
				    	</div>

				    	<div class="col-12 col-md-3"></div>

				    	<div class="col-12 col-md-6 text-center mb-3">
				    		<% if(data != '') { %>
				    			<div class="card text-bg-light h-100 mb-3 pollCard">
										<% if(data.landscape_img != '') { %>
								      	<img src="https://api.hiphopboombox.com/api/uploads/<%= data.landscape_img %>" class="img-fluid rounded-start" alt="poll" width="100%" height="200" loading="lazy">
								    <% } else { %>
								    	<img src="https://api.hiphopboombox.com/api/uploads/<%= data.portrait_image %>" class="img-fluid rounded-start" alt="poll" width="100%" height="200" loading="lazy">
								    <% } %>
								  	<div class="card-body p-0">
								    	<h5 class="pollTitle">
								    		<%= lang.smws.lang == 'en' ? data.question : data.ques_translate %>
								    	</h5>
								    	<p class="card-text">
								    		<div class="p-2">
									    		<% votes.forEach(i => { %>
									    			<div class="me-2 fs-4"><%= i.option_text %><span class="ms-2">Votes: <%= i.votes %></span></div>
									    		<% }) %>
									    	</div>

								    		<div class="mt-2">
								    			<h5 class="text-success">Ans. <%= votes[data.answer-1].option_text %></h5>
								    		</div>
								    	</p>
								  	</div>
		                <div class="card-footer mt-3 d-flex justify-content-evenly align-items-center bg-transparent  border-success">
								        <button onclick="shareOnSocialMedia('threads')" class="btn border-0">
								        	<i class="fa-brands fa-threads fa-2xl" style="color: black;"></i>
								        </button>
								        <button onclick="shareOnSocialMedia('twitter')" class="btn border-0">
								        	<i class="fa-brands fa-twitter fa-2xl" style="color: black;"></i>
								        </button>
								        <button onclick="shareOnSocialMedia('facebook')" class="btn border-0">
								        	<i class="fa-brands fa-facebook fa-2xl" style="color: black;"></i>
								        </button>
		                </div>
									</div>
								<% } else { %>
									<h5>No data found...</h5>
								<% } %>
							</div>

							<div class="col-12 col-md-3"></div>
						</div>
					</div>

					<div class="col-12 col-md-2 rightAds" style="background: #f0f0f0;">
						<div class="desktopAds">
							<% if (data13[1] && data13.length > 0) { %>
								<% if (data13[1].code.trim() != '') { %>
	                <%- data13[1].code %>
	              <% } else { %>
				          <a href="#" class="dskLink" data-ads-id="<%= data13[1].ads_id %>" target="_blank" style="text-decoration: none;">
					          <div class="card border-0" style="width: auto;">
					            <img src="https://api.hiphopboombox.com/api/uploads/<%= data13[1].image %>" class="card-img-top" alt="<%= data13[1].title %>">
					          </div>
				          </a>
				        <% } %>
				      <% } else { %>
	              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
	                   crossorigin="anonymous"></script>
	              <!-- side ad -->
	              <ins class="adsbygoogle"
	                   style="display:block;width:100%;height:auto"
	                   data-ad-client="ca-pub-8432136941148227"
	                   data-ad-slot="7722858213"
	                   data-ad-format="auto"
	                   data-full-width-responsive="true"></ins>
	              <script>
	                   (adsbygoogle = window.adsbygoogle || []).push({});
	              </script>
	            <% } %>
				    </div>

				    <div class="mobileAds">
							<% if (data14[1] && data14.length > 0) { %>
								<a href="#" class="mobLink" data-ads-id="<%= data14[1].ads_id %>" target="_blank" style="text-decoration: none;">
									<div class="card border-0" style="width: auto;">
										<img src="https://api.hiphopboombox.com/api/uploads/<%= data14[1].image %>" class="card-img-top" alt="<%= data14[1].title %>">
									</div>
								</a>
							<% } else { %>
	              <script async 
	                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432136941148227"
	                  crossorigin="anonymous">
	              </script>
	              <!-- top ad -->
	              <ins class="adsbygoogle"
	                   style="display:inline-block;width:500px;height:90px"
	                   data-ad-client="ca-pub-8432136941148227"
	                   data-ad-slot="8720245119"></ins>
	              <script>
	                   (adsbygoogle = window.adsbygoogle || []).push({});
	              </script>
	            <% } %>
						</div>
					</div>
		    </div>
		</div>
	</section>

	<section>
	  <%- include("./includes/lang_select.ejs"); %>
 	</section>

	<footer>
		<%- include("./includes/footer.ejs"); %>
	</footer>
            
  <script>
		const data3 = <%- JSON.stringify(data) %>;
		const data13 = <%- JSON.stringify(data13) %>;
    const data14 = <%- JSON.stringify(data14) %>;
	</script>

	<script type="text/javascript">
	    const loadingSpinner = document.getElementById('loadingSpinner');
        // console.log(loadingSpinner);
    
	      setTimeout(function() {
            if (loadingSpinner) {
              loadingSpinner.style.display = 'none';
            }
        }, 3000);
    
        const data = data3;
    
        // console.log(data, data == '');

        globalThis.document.addEventListener('DOMContentLoaded', () => {
			    // console.log(id, name);

			    function getMobileOS() {
		        const userAgent = navigator.userAgent || navigator.vendor || window.opera;

		        // Check for iOS
		        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
		            return "iOS";
		        }

		        // Check for Android
		        if (/android/i.test(userAgent)) {
		            return "Android";
		        }

		        return "Unknown";
		      }

	        const os = getMobileOS();
	        // console.log(os);

	        globalThis.document.querySelectorAll('.dskLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addDskLink(adsId, button);
	        });

	        globalThis.document.querySelectorAll('.mobLink').forEach(button => {
	            const adsId = button.getAttribute('data-ads-id');
	            // console.log(adsId);
	            addMobLink(adsId, button);
	        });

			    function addDskLink(id, btn) {
			        	// console.log(id, btn);
			        	
			        	const ml1 = data13.length > 0 && 
									data13.filter(i => Number(i.ads_id) === Number(id))
		                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
						// console.log(ml1);

						const ml2 = data14.length > 0 &&
									data14.filter(i => Number(i.ads_id) === Number(id))
		                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
						// console.log(ml2);

						if (ml1 == false && ml2.length > 0) {
							if (os == 'iOS') {
								btn.setAttribute("href", ml2[0].ios);
							}

							else {
								btn.setAttribute("href", ml2[0].android);
							}
						}
						else {
							if (os == 'iOS') {
								btn.setAttribute("href", ml1[0].ios);
							}

							else {
								btn.setAttribute("href", ml1[0].android);
							}
						}
			    }

			    function addMobLink(id, btn) {
			        	// console.log(id, btn);

						const ml1 = data13.length > 0 && 
									data13.filter(i => Number(i.ads_id) === Number(id))
		                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
						// console.log(ml1);

						const ml2 = data14.length > 0 &&
									data14.filter(i => Number(i.ads_id) === Number(id))
		                              .map(i => ({ ads_id: i.ads_id, android: i.link_android, ios: i.link_ios }));
						// console.log(ml2);

						// console.log(ml1 == false && ml2.length > 0);

						if (ml1 == false && ml2.length > 0) {
							if (os == 'iOS') {
								btn.setAttribute("href", ml2[0].ios);
							}

							else {
								btn.setAttribute("href", ml2[0].android);
							}
						}
						else {
							if (os == 'iOS') {
								btn.setAttribute("href", ml1[0].link_ios);
							}

							else {
								btn.setAttribute("href", ml1[0].link_android);
							}
						}
			    }
    
	        if (data != '') {
	        	function shareOnSocialMedia(platform) {
		          const question = "<%= lang.smws.lang == 'en' ? data.question : data.ques_translate %>";
		          const answer = "<%= votes[data.answer-1].option_text %>";
		          const url = encodeURIComponent(window.location.href); // Current page URL
		          const text = encodeURIComponent(`${question} - ${answer}`);
		          
		          // console.log(url, text);

		          switch(platform) {
		              case 'threads':
		                  window.open(`https://threads.net/intent/post?text=${text}`, '_blank');
		                  break;
		              case 'twitter':
		                  window.open(`https://twitter.com/intent/tweet?text=${text}`, '_blank');
		                  break;
		              case 'facebook':
		                  const facebookShareURL = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
		                  // console.log(facebookShareURL);
		                  window.open(facebookShareURL, '_blank', 'width=600,height=400');
		                  break;
		              default:
		                  alert('Unsupported platform');
		          }
	      		}
	        }
	      })
 </script>
</body>

<%- include("./includes/end.ejs"); %>